{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry</h1>
    <form method='post'>
        <label>
            Title for your new blog:
            <input type="text" name='title' />
        </label>
        {% if title_error != 0 %}
            <p>{{title_error}}</p>
        {% endif %}
        <br>
        <label>
            Your new blog:
            <textarea name='body' ></textarea>
        </label>
        <br>
        {% if body_error != 0 %}
            <p>{{body_error}}</p>
        {% endif %}
        <input type="submit" value='Add Entry' />
    </form>


{% endblock %}